<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org"
      xmlns:xlmns="http://www.w3.org/1999/xhtml">

<nav><div class="container"><a href="https://kea.dk/" style="font-weight: bold;
    font-size: 1.2em;">KEA</a>

    <a href="/">Students</a>
    <a href="/Courses">Courses</a>
    <a href="/Enrollments">Enrollments</a>
    </div>
</nav>

<head>

    <meta charset="UTF-8">
    <link type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"
          title="Default Styles" media="screen">
    <title>Title</title>

</head>
<div class="container">
<body>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Start Date</th>
        <th>ECTS</th>
        <th></th>

    </tr>
    </thead>
    <tbody>
    <h1>Courses</h1>
    <p>Courses at KEA</p>
    <a href="/createC" type="button" class="btn btn-create">Create New Course</a>
    <p></p>

    <tr th:each="courses: ${courses}">
        <td th:text="${courses.Id}"></td>
        <td th:text="${courses.Title}"></td>
        <td th:text="${courses.Start_Date}"></td>
        <td th:text="${courses.ECTS}"></td>
        <td><a th:href="${'/detailsC?id='+courses.Id}" type="button" class="btn btn-details">Details</a>
            <a th:href="${'/updateC?id='+courses.Id}" type="button" class="btn btn-ed">Edit</a>
            <a th:href="${'/deleteC?id='+courses.Id}" type="button" class="btn btn-del">Delete</a></td>

    </tr>

    </tbody>

</table>

</body>

<footer class="footer"><p>Andreas Jepsen Nielsen</p></footer>
</div>
</html>