<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org"
      xmlns:xlmns="http://www.w3.org/1999/xhtml">

<nav><div class="container"><a href="https://kea.dk/" style="font-weight: bold;
    font-size: 1.2em;">KEA</a>
    <a href="/">Students</a>
    <a href="/Courses">Courses</a>
    <a href="/Enrollments">Enrollments</a>
</div>
</nav>

<head>
    <meta charset="UTF-8">
    <link type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"
          title="Default Styles" media="screen">
    <title>details</title>
</head>
<div class="container">
    <body>
    <h1>Details</h1>
    <p th:text="'ID: ' + ${student.studentId}"/>
    <p th:text="'First Name: ' + ${student.firstName}"/>
    <p th:text="'LastName: ' + ${student.lastName}"/>
    <p th:text="'Enrollment Date: ' + ${student.enrollmentDate}"/>
    <p th:text="'CPR: ' + ${student.cpr}"/>

    <h2 th:text="'Enrollments for ' + ${student.firstName} + ' ' + ${student.lastName}"></h2>
    <p>The content here will come later</p>
    </body>
</div>
</html>