<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xlmns:th="http://www.thymeleaf.org"
      xmlns:xlmns="http://www.w3.org/1999/xhtml">



<head>

    <meta charset="UTF-8">
   <link type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"
         title="Default Styles" media="screen">
    <title>Title</title>

</head>
<body>
<div class="container-fluid">

<nav>
<div class="container">
        <a href="https://kea.dk/" id="logo">KEA</a>
        <a href="/">Students</a>
        <a href="/Courses">Courses</a>
        <a href="/Enrollments">Enrollments</a>
</div>
</nav>
</div>
<div class="container">
<table>

    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Enrollment Date</th>
        <th>Cpr</th>
        <th></th>

    </tr>
    </thead>
    <tbody>
    <h1>Students</h1>
    <p>Enrolled Students at KEA</p>
    <a href="/create" type="button" class="btn btn-create">Create</a>
    <p></p>

    <tr th:each="student: ${students}">
        <td th:text="${student.studentId}"></td>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.enrollmentDate}"></td>
        <td th:text="${student.cpr}"></td>


        <td><a th:href="${'/details?id='+student.studentId}" type="button" class="btn btn-details">Details</a>
            <button type="button" class="btn btn-ed">Edit</button> <button type="button" class="btn btn-del">Delete</button></td>

    </tr>

    </tbody>

</table>
    <footer class="footer"><p>Andreas Jepsen Nielsen</p></footer>
</div>
</body>

</html>